.top{
    color : #dadada;
    text-align: left;
    float: left;
    font-size: 10px;
}

body{
    background-color: #212121;
    font-family: Lato,sans-serif;
    color: #dadada;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: column;
}

.bottom{
    display: flex;
    justify-content: center;
}

.icon{
    padding: 10px;
    size: 5x;
    color: white;
}

.mainBody{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    flex-direction: column;
    margin-top: 50px;
}

.mainBody img{
    width: 9%;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: white;
}

.top a{
    color: #dadada;
}

